Flask
Flask-OAuthlib
psycopg2-binary
beautifulsoup4
nltk
textblob
Jinja2
Werkzeug
oauthlib
MarkupSafe
click
itsdangerous
six
authlib
google-auth-oauthlib
Flask-Mail
newspaper3k
matplotlib
gevent
lxml_html_clean




gunicorn
